.edu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    &__container {
        perspective: 25px;
    }
    &__inner {
        padding: 20px;
        width: 860px;
        height: 350px;
        background-color: #fff;
        transition: transform 0.5s linear;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
    }
}