@import '../../common.scss';
.footer {
    @include flex();
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    padding: 10px;
    color: #33691e;
    border-top: 1px solid #689f38;
    p {
        font-size: 0.625rem;
        line-height: 20px;
        margin: 0;
        a {
            color: #33691e;
        }
    }
}