.swiper-container {
    height: 100%;
}

.swiper-wrapper {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide1 {
        background: #6c8cd5 url('./assets/bg.png');
    }
    .swiper-slide2 {
        background: #009999 url('./assets/bg.png');
    }
    .swiper-slide3 {
        background: #c9f76f url('./assets/bg.png');
    }
}

.swiper-pagination-bullet {
    margin: 18px 0 !important;
    transition: 0.2s;
    &-active {
        background: #fff !important;
        transform: scale(1.2);
    }
    &:hover {
        transform: scale(3);
    }
}