@import './common.scss';
.swiper-container {
    height: 100%;
}

.swiper-wrapper {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide1 {
        background: #009999 url('./assets/bg.png');
    }
    .swiper-slide2 {
        background: #6c8cd5 url('./assets/bg.png');
    }
    .swiper-slide3 {
        background: #c9f76f url('./assets/bg.png');
    }
}

.swiper-pagination-custom-container {
    @include flex();
    margin: 20px 0;
}

.swiper-pagination-custom {
    top: 50%;
    right: 20px;
    bottom: auto;
    left: auto;
    width: 8px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.swiper-pagination-custom-item {
    @include flex();
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba($color: #000000, $alpha: 0.3);
    &:hover {
        background: #fff;
        transform: scale(3);
    }
    &-active {
        background: #fff;
        transform: scale(1.8);
    }
    .icon {
        width: 5px;
        height: 5px;
        opacity: 0;
        transition: 0.5s;
        &:hover {
            opacity: 1;
        }
    }
}

.swiper-pagination-custom-desc {
    @include flex();
    position: absolute;
    width: 64px;
    height: 24px;
    right: 32px;
    font-size: 12px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    &:after {
        content: '';
        display: inline-block;
        border-width: 12px;
        position: absolute;
        right: -24px;
        overflow: hidden;
        border-color: transparent transparent transparent rgba($color: #000000, $alpha: 0.5);
        border-style: dashed dashed dashed solid;
    }
}