html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.App {
    height: 100%;
}

// .contact,
// .edu,
// .exp,
// .home,
// .self,
// .skill {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-width: 1226px;
// }