html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.App {
    height: 100%;
}

h1 {
    font-size: 36px;
}

.contact,
.edu,
.exp,
.home,
.self,
.skill {
    color: white;
    text-align: center;
}